---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> Summary/Objective:</div>
  </div>

  <div class="mb-10 text-justify">
    Highly motivated and results-driven Media Buyer with 10+ years of experience specializing in
  Google Ads and affiliate marketing. Proven ability to strategize and execute campaigns that
  maximize ROI, drive targeted traffic, and significantly improve conversions across diverse
  verticals. Expertise in utilizing advanced tracking and analysis tools, including Semrush and
  Ahrefs for SEO integration, to optimize campaign performance. Seeking to leverage deep
  understanding of digital marketing platforms and strategies to contribute to the success of a
  dynamic media buying team.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> Core Competencies:</div>
  </div>
    <div class="mb-10 text-justify">
      Google Ads Mastery:
Expert in Search, Display, YouTube, and Call campaigns.
Proven track record of consistently achieving #1 ad position.
Proficient in optimizing campaigns for maximum ROI and CPA reduction.
Experience in diverse verticals including dental care, home repair, private accommodation
booking, ecommerce, diet, gaming and finance.
SEO Integration:
Proficient in utilizing Semrush and Ahrefs for comprehensive website and keyword analysis.
Ability to identify and leverage SEO insights to enhance paid campaign performance.
Understanding of how SEO drives organic traffic, which complements paid media strategies.
Cross-Platform Advertising:
Facebook Ads: Expertise in engagement, traffic, lead generation, video, and messenger bot
campaigns.
Tracking and Optimization:
Advanced proficiency in tracking tools: Binom, Bemob, Google Analytics.
Competition analysis tool expertise: Adplexity.
    </div>  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> Last Professional Experience:</div>
  </div>
  <div class="mb-10 text-justify">
    Media Buyer & Affiliate Marketing Specialist | Adludum | 2020-2024
Developed and executed high-performing media buying strategies across multiple platforms.
Managed and optimized campaigns across diverse verticals, consistently exceeding ROI
targets.
Utilized advanced tracking and analysis tools to monitor and improve campaign performance.
Improved landing page performance through html and css optimizations. Drastically improved
LP conversion rates utilizing A/B testing, making it load instantly, and tracking user intent.
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://skillshop.credential.net/f04ac5bb-717b-4888-8baa-f48fcc982b3b#acc.yiUFXjOJ" target="_blank"> AI-Powered Performance Ads Certification</a>
    </li>

  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Google Ads</li>
    <li>Google KW Planner</li>
    <li>Google Analytics</li>
    <li>Semrush</li>
    <li>Ahrefs</li>
    <li>SEO</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JS</li>
    <li>Wordpress</li>
    <li>Astro</li>
    <li>Speed Optimization</li>
    <li>Linux Admin</li>
    <li>cPanel</li>
    <li>Hetzner Cloud</li>
  </ul>
<div class="mt-6 ml-5">
  <a href="/resume.pdf" download class="btn btn-outline">
    Download as PDF
  </a>
</div>

</BaseLayout>
